.header {
  width: 100%;
  background-color: #0f0f0f;
  height: 64px;
  z-index: 200;
  position: fixed;
  left: 0%;
  display: flex;
  align-items: center;
  top: 0%;
}
.header .s-u-l-i-cont {
  position: absolute;
  left: 72vw;
  width: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}

#sign-up {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9e9da3;
  border-radius: 3vw;
  height: 1.7vw;
  font-size: 1.8vw;
}
#sign-up:hover {
  color: white !important;
  font-size: 1.9vw;
}

#log-in {
  background: white;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  font-size: 1.8vw;
  border-radius: 2vw;
}

.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#p-s-d-hovered {
  color: #9e9da3;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
}
#p-s-d-hovered:hover {
  color: white;
  font-size: 1.7vw;
}

#p-s-d-hovered2 {
  font-size: 1.5vw;
  color: #9e9da3;
  display: flex;
  justify-content: center;
}
#p-s-d-hovered2:hover {
  color: white;
  font-size: 1.7vw;
}

#p-s-d-hovered3 {
  color: #9e9da3;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
}
#p-s-d-hovered3:hover {
  color: white;
  font-size: 1.7vw;
}

.p-s-d-container {
  align-items: center;
  width: 17vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 56vw;
}

.line {
  rotate: 180deg;
  background-color: white;
  width: 1px;
  height: 4vh;
}

.RightArrow {
  background-color: #090909;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 4.5vh;
  rotate: 180deg;
  cursor: pointer;
}
.RightArrow img {
  width: 1.6vw;
}

.LeftArrow {
  background-color: #090909;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 4.5vh;
  cursor: pointer;
}
.LeftArrow img {
  width: 1.6vw;
}

.LeftHeader {
  width: 213px;
  background-color: black;
  height: 100vh;
  position: fixed;
  margin: 0 !important;
  left: 0vw;
  resize: horizontal;
  top: 0vw;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.AMBROHeader {
  display: flex;
  justify-content: space-between;
  width: 157px;
  align-items: center;
  height: 6vh;
  position: absolute;
  left: 18px;
}
.AMBROHeader h2 {
  font-size: 49px;
  color: white;
  position: relative;
  top: 0.3vw;
  letter-spacing: 1px;
}
.AMBROHeader img {
  width: 40px;
  height: 40px;
}

.navbar {
  height: 6vh;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  /* top: 11px; */
  left: 15vw;
}
.navbar .t-p-navbar {
  width: 48vw;
  height: 5.3vh;
  display: flex;
  justify-content: space-between;
}
.navbar .t-p-navbar a:nth-child(3) {
  width: 18%;
}
.navbar .t-p-navbar img:nth-child(2) {
  display: none;
}
.navbar .t-p-navbar a:nth-child(2) {
  width: 13%;
}
.navbar .d-p-navbar a:nth-child(1) {
  width: 50%;
}
.navbar .d-p-navbar a:nth-child(2) {
  width: 40%;
}
.navbar .d-p-navbar {
  height: 5.3vh;
  display: flex;
  width: 17.7vw;
  flex-direction: row;
  justify-content: space-between;
}

a:hover {
  color: white;
}

a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76px;
}
a img {
  width: 25px;
}
a span {
  font-size: 23px;
  position: relative;
  top: 0.2vw;
  color: #b3b3b3;
}
a span:hover {
  color: white;
}

.dropdown button {
  background: black;
  border: none;
}
.dropdown button:hover {
  background: #282828;
}
.dropdown .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282828;
}

.HomeA {
  width: 12%;
}

.L-P_C_CONT {
  width: 110px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  margin-left: 8px !important;
}

body .p-p-c-cont {
  display: flex;
  justify-content: space-between;
  width: 110px;
  margin-left: 8px !important;
}

.p-p-c-cont:first-child {
  margin-left: 8px !important;
}

.settingsImg {
  width: 27px;
  height: 25px;
  position: absolute;
  right: 2.6vw;
  top: 20px;
  cursor: pointer;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 80deg;
  }
}
.rotate {
  animation-name: rotation;
  animation-duration: 0.7s;
}

.about {
  width: 100%;
  height: 50%;
}

label {
  width: 37px;
  height: 15px;
  top: 32px;
  left: 42px;
  transition: 0.3s;
  position: absolute;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label::after {
  content: "";
  width: 14px;
  transition: 0.3s;
  height: 13.4px;
  position: absolute;
  top: 1.1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label::after {
  left: 39px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.changeLanguage {
  left: 1.3vw;
  height: 3vh;
  width: 4.5vw;
  border-radius: 9px;
  border: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: lightgreen;
  font-size: 1.2vw;
  position: absolute;
  bottom: 6px;
  height: 21px;
  width: 68px;
  font-size: 18px;
  left: 29px;
}

.DMC span {
  color: white;
  font-size: 25px;
}

.ChangeLanguageContainer {
  width: 80vw;
  height: 76vh;
  box-shadow: 1px 5px 22px;
  border-radius: 17px;
  position: fixed;
  left: 10vw;
  background: #282828;
  display: none;
  top: 6vw;
}
.ChangeLanguageContainer h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  height: 10vh;
}

#DNone {
  display: block !important;
}

.LangsCont {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  height: 48%;
}
.LangsCont section {
  flex-direction: column;
  display: flex;
  margin: 1vw !important;
  cursor: pointer;
  font-size: 1.4vw;
}
.LangsCont section span {
  color: #929292;
}/*# sourceMappingURL=header.css.map */