@media only screen and (max-width: 1500px) {
  .settingsImg {
    top: 24px;
  }
  .arrows {
    top: 19px;
  }
  .spotify-focus section:nth-child(7) {
    display: none;
  }
  .spotify-playlist section:nth-child(7) {
    display: none;
  }
  .spotify-sleep section:nth-child(7) {
    display: none;
  }
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 51%;
  }
  body .navbar .d-p-navbar a:nth-child(2) {
    width: 41%;
  }
}
@media only screen and (max-width: 1465px) {
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 19%;
  }
}
@media only screen and (max-width: 1430px) {
  body a img {
    width: 23px;
  }
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 19%;
  }
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 50.4%;
  }
}
@media only screen and (max-width: 1430px) {
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 129px;
  }
}
@media only screen and (max-width: 1390px) {
  body .navbar .d-p-navbar a:nth-child(2) {
    width: 104px;
  }
}
@media only screen and (max-width: 1362px) {
  body .navbar .d-p-navbar {
    width: 18vw;
  }
}
@media only screen and (max-width: 1362px) {
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 105px;
  }
  .cont-playI {
    display: none !important;
  }
}
@media only screen and (max-width: 1330px) {
  .spotify-focus section:nth-child(6) {
    display: none;
  }
  .spotify-playlist section:nth-child(6) {
    display: none;
  }
  .spotify-sleep section:nth-child(6) {
    display: none;
  }
}
@media only screen and (max-width: 1320px) {
  body .navbar .d-p-navbar {
    width: 240px;
  }
  .Spotify-sleep {
    width: 390px;
  }
  body .HomeA {
    width: 12.5% !important;
  }
}
@media only screen and (max-width: 1320px) {
  .CONTAINER section {
    height: 234px;
    width: 175px;
  }
}
@media only screen and (max-width: 1270px) {
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 18.3%;
  }
  body .navbar .d-p-navbar a:nth-child(2) {
    width: 104px;
  }
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 105px;
  }
}
@media only screen and (max-width: 1255px) {
  body a img {
    width: 21.5px;
  }
}
@media only screen and (max-width: 1240px) {
  body .navbar {
    width: 41.4vw;
    position: absolute;
    left: 14.7vw;
  }
  body a img {
    width: 19.5px;
  }
  body .navbar {
    width: 40.4vw;
    position: absolute;
    left: 15.3vw;
  }
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 101px;
  }
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 125px;
  }
  body .navbar .d-p-navbar a:nth-child(2) {
    width: 101px;
  }
}
@media only screen and (max-width: 1210px) {
  .CONTAINER section {
    width: 165px;
  }
}
@media only screen and (max-width: 1205px) {
  body .p-s-d-container {
    display: none;
  }
  body .navbar {
    left: 200px !important;
    width: 52.4vw;
  }
  body .navbar .t-p-navbar {
    width: 52vw;
  }
  body .navbar {
    left: 195px !important;
    width: 52.4vw;
  }
  a span {
    font-size: 2vw;
  }
  .navbar .d-p-navbar {
    justify-content: space-evenly;
    width: 28.7vw;
  }
  body .navbar .t-p-navbar {
    width: 52.6vw;
  }
  .navbar .t-p-navbar a:nth-child(3) {
    width: 21%;
  }
  .navbar .d-p-navbar a:nth-child(1) {
    width: 46%;
  }
  .navbar .d-p-navbar a:nth-child(2) {
    width: 37%;
  }
  body a img {
    width: 21.5px;
  }
  .HomeA img {
    position: relative;
    bottom: 2px;
  }
  body a span {
    font-size: 27px;
  }
  body .navbar .t-p-navbar a:nth-child(3) {
    width: 118px;
  }
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 157px;
  }
  body .navbar .d-p-navbar a:nth-child(2) {
    width: 117px;
  }
  body .navbar .d-p-navbar {
    width: 278px;
  }
  body .navbar .d-p-navbar a:nth-child(1) {
    width: 147px;
  }
}
@media only screen and (max-width: 1150px) {
  #log-in {
    font-size: 2.1vw !important;
  }
  #sign-up {
    font-size: 2.1vw !important;
  }
  .p-s-d-container {
    width: 16vw !important;
    left: 57vw;
  }
  .p-s-d-container .LeftArrow {
    width: 3vw !important;
    height: 5vh !important;
  }
  .p-s-d-container .RightArrow {
    width: 3vw !important;
    height: 5vh !important;
  }
}
@media only screen and (max-width: 1140px) {
  body .navbar {
    left: 185px !important;
  }
}
@media only screen and (max-width: 1140px) {
  body .settingsImg {
    width: 25px;
    height: 26px;
    right: 1.6vw;
  }
}
@media only screen and (max-width: 1110px) {
  .spotify-focus section:nth-child(5) {
    display: none;
  }
  .spotify-playlist section:nth-child(5) {
    display: none;
  }
  .spotify-sleep section:nth-child(5) {
    display: none;
  }
  .container-footer {
    position: relative;
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: 4% 115px 4% 115px 4% 115px 25vw 185px !important;
    grid-template-rows: 190px 10px 50px 30px 40px;
  }
}
@media only screen and (max-width: 1080px) {
  body .navbar {
    left: 179px !important;
  }
  .desctiptions {
    width: 102px;
  }
  .CONTAINER section {
    width: 150px;
  }
  .CONTAINER section img:not(.playI) {
    left: 13px;
  }
}
@media only screen and (max-width: 1080px) {
  .AMBROHeader h2 {
    display: none;
  }
  body .navbar {
    width: 60.4vw;
    left: 80px !important;
  }
  body .navbar .t-p-navbar {
    width: 60.4vw;
  }
  body .HomeA {
    width: 12.5% !important;
  }
  #log-in {
    font-size: 2.2vw !important;
  }
  #sign-up {
    font-size: 2.3vw !important;
  }
}
@media only screen and (max-width: 1050px) {
  .Spotify-sleep {
    width: 30.5vw;
  }
}
@media only screen and (max-width: 1050px) {
  .CONTAINER section {
    width: 140px;
  }
  .CONTAINER section img:not(.playI) {
    left: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar {
    width: 60vw;
    left: 8vw;
  }
  body .header .s-u-l-i-cont {
    left: 72.4vw;
  }
  .navbar .t-p-navbar {
    width: 100%;
  }
  a span {
    font-size: 2.4vw;
  }
  .arrows {
    right: 6.7vw;
  }
  .settingsImg {
    top: 23px;
    right: 3.1vw;
    width: 3vw;
    height: 3.9vh;
  }
  .HomeA {
    width: 74px;
  }
  .SearchA {
    width: 80px !important;
  }
  .navbar .d-p-navbar a:nth-child(1) {
    width: 14.3vw;
  }
  .navbar .d-p-navbar a:nth-child(2) {
    width: 12vw;
  }
}
@media only screen and (max-width: 990px) {
  .Spotify-sleep {
    width: 325px;
  }
}
@media only screen and (max-width: 970px) {
  .p-s-d-container {
    left: 57.4vw;
  }
  .p-s-d-container .line {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .arrows {
    right: 8vw;
  }
  .settingsImg {
    right: 4.6vw;
    width: 3vw;
    height: 3.9vh;
  }
  .navbar {
    width: 57vw;
    left: 7.5vw;
  }
}
@media only screen and (max-width: 950px) {
  #log-in {
    font-size: 2.5vw !important;
  }
  .CONTAINER section + section + section + section + section + section {
    display: none !important;
  }
  .CONTAINER section {
    width: 150px;
  }
  #sign-up {
    font-size: 2.5vw !important;
  }
}
@media only screen and (max-width: 925px) {
  a img {
    width: 20px;
  }
  body .navbar {
    width: 61.8vw;
    left: 65px !important;
  }
  body .navbar .t-p-navbar {
    width: 61.8vw;
  }
}
@media only screen and (max-width: 915px) {
  a img {
    width: 27px;
  }
}
@media only screen and (max-width: 900px) {
  .container-footer {
    width: 88%;
    right: 0;
  }
  footer {
    display: none;
  }
  .ChangeLanguageContainer {
    width: 70vw;
    left: 25vw;
    z-index: 333;
  }
  .LangsCont section {
    flex-direction: column;
    display: flex;
    margin: 1vw !important;
    cursor: pointer;
    width: 76px;
    font-size: 2.4vw;
  }
  .img-cont {
    top: 213px;
  }
  body .Spotify-Playlist {
    right: -21px;
  }
  body .Spotify-Playlist section {
    width: 160px;
  }
  .MAINCONTAINER {
    width: 100%;
    right: 0;
    height: 233vh;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 75px;
    justify-content: space-between;
    flex-direction: column;
  }
  body .Spotify-sleep {
    right: -21px;
  }
  body .Spotify-sleep section {
    width: 160px;
  }
  body .focusSongs {
    right: -21px;
  }
  body .focusSongs section {
    width: 160px;
  }
  .header {
    display: none !important;
  }
  .CONTAINER .AName {
    top: 10px;
  }
  .desctiptions {
    width: 118px;
    top: 0;
  }
  .desctiptionP {
    top: 0px;
  }
  .CONTAINER .desctiption {
    top: 30px;
  }
  .topic3 a {
    left: 43px;
  }
  .CONTAINER {
    top: 10px;
  }
  .focusSongs {
    width: 84% !important;
    right: -4px;
  }
  .Spotify-Playlist {
    width: 84% !important;
    right: -4px;
  }
  .Spotify-sleep {
    width: 84% !important;
    right: -4px;
  }
  .Spotify-sleep section + section + section + section + section {
    display: none;
  }
  .Spotify-Playlist section + section + section + section + section {
    display: none;
  }
  .focusSongs section + section + section + section + section {
    display: none;
  }
  .mini-header-cont {
    position: fixed;
    top: 0;
    left: 0;
    height: 93%;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  footer {
    z-index: 300;
  }
}
@media only screen and (max-width: 875px) {
  .spotify-focus section:nth-child(4) {
    display: none;
  }
  .spotify-playlist section:nth-child(4) {
    display: none;
  }
  .spotify-sleep section:nth-child(4) {
    display: none;
  }
  .spotify-focus section {
    width: 215px;
    height: 275px;
  }
  .spotify-playlist section {
    width: 215px;
    height: 275px;
  }
  .spotify-sleep section {
    width: 215px;
    height: 275px;
  }
  .container-footer {
    position: relative;
    width: 92%;
    height: 320px;
    display: grid;
    grid-template-columns: 6% 115px 4% 115px 4% 115px 13vw 185px !important;
    grid-template-rows: 190px 10px 50px 30px 40px;
  }
}
@media only screen and (max-width: 850px) {
  #log-in {
    font-size: 2.6vw !important;
  }
  #sign-up {
    font-size: 2.6vw !important;
  }
  .p-s-d-container {
    left: 49.1vw;
  }
}
@media only screen and (max-width: 835px) {
  .Spotify-sleep section + section + section + section {
    display: none;
  }
  .focusSongs section + section + section + section {
    display: none;
  }
  .Spotify-Playlist section + section + section + section {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #log-in {
    font-size: 2.9vw !important;
  }
  #sign-up {
    font-size: 2.7vw !important;
  }
  .spotify-focus {
    height: 309px;
  }
  .spotify-focus section {
    width: 210px;
    height: 265px;
  }
  .spotify-sleep {
    height: 309px;
  }
  .spotify-sleep section {
    width: 210px;
    height: 265px;
  }
  .spotify-playlist {
    height: 309px;
  }
  .spotify-playlist section {
    width: 210px;
    height: 265px;
  }
  .LeftArrow {
    width: 3.5vw !important;
    height: 5.4vh !important;
  }
  .LeftArrow img {
    width: 2.6vw !important;
  }
  .RightArrow {
    width: 3.5vw !important;
    height: 5.4vh !important;
  }
  .RightArrow img {
    width: 2.6vw !important;
  }
}
@media only screen and (max-width: 760px) {
  .spotify-playlist section {
    width: 190px;
  }
  .spotify-sleep section .name {
    bottom: -2px;
  }
  .spotify-focus section .name {
    bottom: 0px;
  }
  .spotify-sleep section .description {
    bottom: -2px;
  }
  .spotify-focus section .description {
    bottom: 0px;
  }
}
@media only screen and (max-width: 750px) {
  #log-in {
    font-size: 3.2vw !important;
  }
  #sign-up {
    font-size: 2.8vw !important;
  }
  footer span {
    width: 412px;
    line-height: 13px;
    top: 12px;
  }
}
@media only screen and (max-width: 750px) {
  .ChangeLanguageContainer {
    width: 70vw;
    left: 15vw;
  }
  footer span {
    left: 20px;
    width: 500px;
  }
  .topic3 a {
    left: 20px;
  }
  .LEFTHEADER {
    display: none;
    height: 101vh;
  }
  .CONTAINER {
    width: 125%;
    top: 28px;
    left: 0;
  }
  .ShowAll a {
    font-size: 33px;
    width: 82px;
  }
  .ShowAll2 a {
    font-size: 33px;
    width: 82px;
  }
  .focusSongs section + section + section + section + section {
    display: block;
  }
  .Spotify-Playlist section + section + section + section + section {
    display: block;
  }
  .Spotify-sleep section + section + section + section + section {
    display: block;
  }
  .focusSongs section + section + section + section {
    display: block;
  }
  .img-cont {
    top: 320px;
  }
  .Spotify-sleep section + section + section + section {
    display: block;
  }
  .Spotify-Playlist section + section + section + section {
    display: block;
  }
  .mini-header {
    display: none;
  }
  .focusSongs {
    width: 105% !important;
    right: 0px;
  }
  .Spotify-Playlist {
    width: 105% !important;
    right: 0px;
  }
  .Spotify-sleep {
    width: 105% !important;
    right: 0px;
  }
  body .CONTAINER section img:not(.playI) {
    left: 10px;
  }
  .CONTAINER {
    top: 40px;
  }
}
@media only screen and (max-width: 730px) {
  .container-footer {
    grid-template-columns: 6% 115px 4% 115px 4% 115px 2vw 185px !important;
    grid-template-rows: 190px 10px 50px 30px 40px;
  }
}
@media only screen and (max-width: 700px) {
  #log-in {
    font-size: 3.4vw !important;
  }
  #sign-up {
    font-size: 2.9vw !important;
  }
}
@media only screen and (max-width: 600px) {
  .WHOLEBODY1 {
    display: none;
  }
  .spotify-focus section:nth-child(1) {
    display: flex;
  }
  .spotify-playlist section:nth-child(1) {
    display: flex;
  }
  .spotify-sleep section:nth-child(1) {
    display: flex;
  }
  .spotify-focus section:nth-child(2) {
    display: flex;
  }
  .spotify-playlist section:nth-child(2) {
    display: flex;
  }
  .spotify-sleep section:nth-child(2) {
    display: flex;
  }
  .spotify-focus section:nth-child(3) {
    display: flex;
  }
  .spotify-playlist section:nth-child(3) {
    display: flex;
  }
  .spotify-sleep section:nth-child(3) {
    display: flex;
  }
  .spotify-focus section:nth-child(4) {
    display: flex;
  }
  .spotify-playlist section:nth-child(4) {
    display: flex;
  }
  .spotify-sleep section:nth-child(4) {
    display: flex;
  }
  .spotify-focus section:nth-child(5) {
    display: flex;
  }
  .spotify-playlist section:nth-child(5) {
    display: flex;
  }
  .spotify-sleep section:nth-child(5) {
    display: flex;
  }
  .spotify-focus section:nth-child(6) {
    display: flex;
  }
  .spotify-playlist section:nth-child(6) {
    display: flex;
  }
  .spotify-sleep section:nth-child(6) {
    display: flex;
  }
}
@media only screen and (max-width: 680px) {
  .focusSongs section + section + section + section + section {
    display: none !important;
  }
  .Spotify-Playlist section + section + section + section + section {
    display: none !important;
  }
  .Spotify-sleep section + section + section + section + section {
    display: none !important;
  }
}
@media only screen and (max-width: 650px) {
  #log-in {
    font-size: 4 !important;
  }
  #sign-up {
    font-size: 3.5vw !important;
    width: 100% !important;
  }
  .s-u-l-i-cont {
    width: 29% !important;
    left: 58vw !important;
  }
  .LeftArrow {
    width: 3.7vw !important;
    height: 5.6vh !important;
  }
  .LeftArrow img {
    width: 2.7vw !important;
  }
  .RightArrow {
    width: 3.7vw !important;
    height: 5.6vh !important;
  }
  .RightArrow img {
    width: 2.7vw !important;
  }
}
@media only screen and (max-width: 615px) {
  .focusSongs section + section + section + section {
    display: none !important;
  }
  .Spotify-Playlist section + section + section + section {
    display: none !important;
  }
  .Spotify-sleep section + section + section + section {
    display: none !important;
  }
  footer div {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .s-u-l-i-L {
    left: 23px;
  }
  .Spotify-sleep {
    left: 62px;
    width: 55%;
  }
}
@media only screen and (max-width: 570px) {
  .img-cont {
    top: 320px;
  }
}
@media only screen and (max-width: 570px) {
  .Spotify-sleep {
    left: 47px;
    width: 55%;
  }
  .LEFTHEADER {
    width: 152px;
  }
}
@media only screen and (max-width: 535px) {
  .spotify-focus section:nth-child(7) {
    display: none;
  }
  .spotify-playlist section:nth-child(7) {
    display: none;
  }
  .spotify-sleep section:nth-child(6) {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .arrows {
    width: 10vw !important;
  }
  .LEFTHEADER {
    width: 147px;
  }
  .LeftArrow {
    width: 4vw !important;
    height: 5.3vh !important;
  }
  .LeftArrow img {
    width: 2.8vw !important;
  }
  a img {
    width: 23.5px;
  }
  .PlaylistAL {
    width: 128px;
  }
  .HeartAL {
    width: 109px;
  }
  .LibraryAL {
    width: 109px;
  }
  .SearchAL {
    width: 78px;
  }
  .RightArrow {
    width: 4vw !important;
    height: 5.3vh !important;
  }
  .RightArrow img {
    width: 2.8vw !important;
  }
}
@media only screen and (max-width: 540px) {
  .s-u-l-i-cont {
    width: 31% !important;
    left: 56vw !important;
  }
  #log-in {
    font-size: 4.2vw !important;
  }
  #sign-up {
    font-size: 3.7vw !important;
  }
}
@media only screen and (max-width: 510px) {
  .Spotify-sleep {
    left: 42px;
    width: 58%;
  }
}
@media only screen and (max-width: 500px) {
  .LEFTHEADER {
    display: none !important;
  }
  .LEFTHEADER {
    width: inherit;
  }
  footer {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .s-u-l-i-cont {
    width: 36% !important;
    left: 50vw !important;
  }
  #log-in {
    font-size: 5.5vw !important;
  }
  #sign-up {
    font-size: 4.4vw !important;
  }
  .arrows {
    width: 12vw !important;
    left: 6vw;
  }
  .LeftArrow {
    width: 5.3vw !important;
    height: 6vh !important;
  }
  .LeftArrow img {
    width: 3.3vw !important;
  }
  .RightArrow {
    width: 5.3vw !important;
    height: 6vh !important;
  }
  .RightArrow img {
    width: 3.3vw !important;
  }
}
@media only screen and (max-width: 440px) {
  a img {
    width: 23.5px;
  }
  .p-s-d-containerLA {
    left: 40px;
  }
  .AMBROLeftHeader h2 {
    left: 7px;
  }
  .t-p-navbarFL {
    left: -2px;
  }
  .s-u-l-i-L {
    left: 14px;
  }
  .LEFTHEADER {
    width: 140px;
  }
  .PlaylistAL {
    width: 128px;
  }
  .HeartAL {
    width: 107px;
  }
  .LibraryAL {
    width: 109px;
  }
  .SearchAL {
    width: 74px;
  }
  .arrowsL {
    width: 82px;
    left: 50px;
  }
  .RightArrowL {
    width: 36px !important;
    height: 36px !important;
    border-radius: 35px;
  }
  .LeftArrowL {
    border-radius: 35px;
    width: 36px !important;
    height: 36px !important;
  }
  .LinksC {
    left: 330px;
  }
  .communitiesC {
    left: 185px;
  }
}
@media only screen and (max-width: 440px) and (max-width: 420px) {
  a img {
    width: 23.5px;
  }
  .t-p-navbarFL {
    left: -2px;
  }
  .p-s-d-containerLA {
    left: 32px;
  }
  .s-u-l-i-L {
    left: 12px;
  }
  .LEFTHEADER {
    width: 140px;
  }
  .PlaylistAL {
    width: 128px;
  }
  .HeartAL {
    width: 107px;
  }
  .LibraryAL {
    width: 109px;
  }
  .SearchAL {
    width: 74px;
  }
  .arrowsL {
    width: 77px;
    left: 46px;
  }
  .RightArrowL {
    width: 32px !important;
    height: 32px !important;
  }
  .settingsImgL {
    left: 8px;
    bottom: 11px;
  }
  .LeftArrowL {
    width: 32px !important;
    height: 32px !important;
  }
}
@media only screen and (max-width: 440px) {
  .arrows {
    width: 15vw !important;
    left: 8vw;
  }
}
@media only screen and (max-width: 440px) {
  .LeftArrow {
    width: 6vw !important;
    height: 5.5vh !important;
  }
  .LeftArrow img {
    width: 3.5vw !important;
  }
}
@media only screen and (max-width: 440px) {
  .RightArrow {
    width: 6vw !important;
    height: 5.5vh !important;
  }
  .RightArrow img {
    width: 3.5vw !important;
  }
}
@media only screen and (max-width: 408px) {
  .focusSongs section + section + section {
    display: none !important;
  }
  .Spotify-Playlist section + section + section {
    display: none !important;
  }
  .Spotify-sleep section + section + section {
    display: none !important;
  }
  .topic3 a {
    left: 50px;
  }
}
@media only screen and (max-width: 400px) {
  a img {
    width: 20px;
  }
  .s-u-l-i-L {
    left: 6px;
  }
  .AMBROLeftHeader {
    left: 2px;
  }
  .AMBROLeftHeader h2 {
    left: 4px;
  }
  .t-p-navbarFL {
    left: -2px;
  }
  .p-s-d-containerLA {
    left: 24px;
  }
  .LEFTHEADER {
    width: 124px;
  }
  .PlaylistAL {
    width: 111px;
  }
  .PlaylistAL span {
    font-size: 19px !important;
  }
  .HeartAL {
    width: 91px;
  }
  .HeartAL span {
    font-size: 19px !important;
  }
  .LibraryAL {
    width: 92px;
  }
  .LibraryAL span {
    font-size: 19px !important;
  }
  .SearchAL {
    width: 74px;
  }
  .SearchAL span {
    font-size: 19px !important;
  }
  .arrowsL {
    width: 77px;
    left: 46px;
  }
  .RightArrowL {
    width: 32px !important;
    height: 32px !important;
  }
  .settingsImgL {
    left: 8px;
    bottom: 11px;
  }
  .LeftArrowL {
    width: 32px !important;
    height: 32px !important;
  }
}
@media only screen and (max-width: 400px) {
  .LinksC {
    left: 58px;
    top: 160px;
  }
  .imgcont {
    width: 40px;
    height: 40px;
  }
  .img-cont {
    width: 145px;
  }
}
@media only screen and (min-width: 720px) {
  .BurgerMenuContainer {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  ul li img {
    width: 27px;
  }
}/*# sourceMappingURL=responsive.css.map */