@font-face {
  font-family: dongle;
  src: url(../Dongle-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

@keyframes LeftAnimate {
  from {
    left: -82vw;
  }
  to {
    left: 10vw;
  }
}
@keyframes toRightWidth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityanimate1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacityanimate0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animate3 {
  from {
    top: -8%;
  }
  to {
    top: -13%;
  }
}
.AMBROLeftHeader {
  width: 104px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 7px;
  top: 13px;
}
.AMBROLeftHeader img {
  width: 35px;
}

.AMBROLeftHeader h2 {
  width: 61px;
  height: 22px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  left: 14px;
  top: 3px;
}

.NavbarFL {
  width: 18vw;
  height: 34.5vh;
  position: absolute;
  top: 66px;
  left: 8px;
}

.BoldedHomel {
  display: none;
}

.BoldedSearchl {
  display: none;
}

.BoldedLibraryl {
  display: none;
}

.BoldedHeartl {
  display: none;
}

.HomeAL {
  width: 7vw !important;
}
.HomeAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 20px !important;
}

.SearchAL {
  width: 8vw !important;
}
.SearchAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 20px !important;
}

.LibraryAL {
  width: 96px;
}
.LibraryAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 20px !important;
}

.PlaylistAL {
  width: 114px;
}
.PlaylistAL span {
  margin-left: 5px !important;
  position: relative;
  top: 3px;
  font-size: 20px !important;
}

.HeartAL {
  width: 93px;
}
.HeartAL span {
  margin-left: 5px !important;
  position: relative;
  top: 3px;
  font-size: 20px !important;
}

.p-s-d-containerLA {
  width: -moz-fit-content;
  width: fit-content;
  height: 16vh;
  position: absolute;
  bottom: 155px;
  left: 44px;
}
.p-s-d-containerLA a {
  font-size: 23px !important;
}

.s-u-l-i-L {
  left: 25px;
  position: absolute;
  bottom: 64px;
  display: flex;
  justify-content: space-between;
  height: 85px;
  flex-direction: column;
}

#log-inL {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
  border-radius: 2vw;
  color: black !important;
  border-radius: 4vw;
  width: 113px !important;
  height: 42px !important;
  font-size: 27px !important;
}
#log-inL:hover {
  width: 117px !important;
  height: 45px !important;
  font-size: 30px !important;
}

#sign-upL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px !important;
  color: #9e9da3;
  height: 42px !important;
  font-size: 27px !important;
}
#sign-upL:hover {
  color: white !important;
  font-size: 30px !important;
}

.arrowsL {
  width: 95px;
  position: absolute;
  bottom: 12px;
  left: 50px;
  display: flex;
  justify-content: space-between;
}

.LeftArrowL {
  width: 40px !important;
  height: 40px !important;
  background-color: #090909;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.LeftArrowL img {
  width: 22px;
}

.RightArrowL {
  background-color: #090909;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  height: 40px !important;
  rotate: 180deg;
  cursor: pointer;
}
.RightArrowL img {
  width: 22px;
}

.settingsImgL {
  width: 31px;
  height: 29px;
  position: absolute;
  left: 12px;
  bottom: 16px;
  cursor: pointer;
}

.HomeAL {
  width: 9vw !important;
  grid-column: 1/3;
  grid-row: 1/2;
}

.HomeAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 23px !important;
}

.SearchAL {
  width: 10.2vw !important;
  grid-column: 1/3;
  grid-row: 2/3;
}

.SearchAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 25px !important;
}

.LibraryAL {
  width: 14vw;
  grid-column: 1/3;
  grid-row: 3/4;
}
@media only screen and (max-width: 764px) {
  .LibraryAL {
    width: 15vw;
  }
}

.LibraryAL span {
  position: relative;
  top: 3px;
  margin-left: 5px !important;
  font-size: 23px !important;
}

.d-p-navbar {
  height: 73px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 5/7;
}

.PlaylistAL {
  width: 136px;
}

.PlaylistAL span {
  margin-left: 5px !important;
  position: relative;
  top: 3px;
  font-size: 22px !important;
}

.HeartAL {
  width: 116px;
}

.HeartAL span {
  margin-left: 5px !important;
  position: relative;
  top: 3px;
  font-size: 23px !important;
}

.t-p-navbarFL {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 3px;
  display: grid;
  height: 101%;
  justify-content: space-between;
  grid-template-columns: 22px 10px 116px;
  grid-template-rows: 39px 39px 39px 39px 39px 39px;
}/*# sourceMappingURL=stylesFLH.css.map */